/* ChatBubble.css */

.chat-bubble {
  max-width: 250px; /* Set the maximum width for the chat bubble */
  height: auto; /* Allow the height to adjust based on content */
}

/* Blue chat bubble for messages sent by the user */
.chat-bubble.me {
    background-color:   #006400; /* Blue color */
    color: white; /* Text color */
    border-radius: 10px; /* Rounded corners */
    padding: 10px; /* Spacing inside the bubble */
    margin: 5px 0; /* Margin to separate bubbles */
  }
  
  /* Default chat bubble for messages sent by others (you can adjust the styles as needed) */
  .chat-bubble.other {
    background-color: #08331b; /* Gray color */
    color: white; /* Text color */
    border-radius: 10px; /* Rounded corners */
    padding: 10px; /* Spacing inside the bubble */
    margin: 5px 0; /* Margin to separate bubbles */
  }
  