@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.my-button {
  width: 70px;
  height: 40px;
 }
 .text-input{
  height: 40px;
 }

 .chat-container {
  height: calc(100vh - 180px); /* Adjust the height as needed */
  overflow-y: auto;
}

/* Ensure the messages list fills the container */
.messages-list {
  overflow-y: auto; /* Enable vertical scrollbar */
  height: calc(100vh - 200px); /* Adjust the height based on your UI, this value is indicative */
}

.camera-preview-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Styles for camera container */
.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.camera-preview {
  margin-bottom: 20px;
}

.capture-button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
