@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.my-button {
  position: absolute;
  top: 50%;
  left: 84%;
  transform: translate(-50%, -50%);
 }
 .record-icon{
  position: absolute;
  top: 57%;
  left: 88.9%;
  transform: translate(-50%, -50%);
 }
 .chat-container {
  height: calc(100vh - 180px); /* Adjust the height as needed */
  overflow-y: auto;
}

/* Ensure the messages list fills the container */
.messages-list {
  height: max-content;
}

.cam-ico{
  position:absolute;
  top:18;
  left:91.3%;
}

